.hide-prop{
  display: none;
}
.show-prop {
  display: block;
  color: red;
}
.hide-notice{
  display: none;
}
.show-notice{
  display: block;
  color: green;
}
.error-notice{
  display: block;
  color: red;
}