<section class="py-5" id="about">
      <div class="container">
        <h2 class="text-center mb-5">About Us</h2>

        <div class="row align-items-center">
          <!-- Image -->
          <div class="col-md-5 text-center">
            <img
              src="{{url_for('static',filename='images/about_us_1.jpg')}}"
              class="img-fluid rounded"
              alt="About Image"
            />
          </div>
          <!-- Text -->
          <div class="col-md-7">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              debitis temporibus ducimus hic alias non minima minus nihil, fugit
              nesciunt laborum natus ipsum a repellendus eligendi sed distinctio
              quo? Nisi, quis nostrum! Iste, nam! Repudiandae obcaecati vel
              dignissimos! Nisi perferendis ratione fugiat expedita recusandae
              et, cupiditate a aspernatur! Consectetur earum aut harum,
              laboriosam inventore totam qui maxime eveniet dolor molestias rem
              animi architecto quasi sunt nihil. Ut vitae commodi deserunt ipsum
              quibusdam corporis, accusantium repellat sunt sint inventore? Quos
              illum exercitationem reprehenderit adipisci. Hic sunt animi
              delectus, voluptates, eum veniam sed esse voluptatibus facere
              eveniet magni fuga vel impedit ipsa provident voluptatum magnam,
              voluptate id dolore. Harum cupiditate ab debitis voluptas maxime
              consequuntur, aspernatur at dicta iure dolore enim ratione
              excepturi ea cumque, nemo iste illum sunt eligendi temporibus
              recusandae eum soluta similique laboriosam. Sed, minima corrupti
              nobis quisquam laboriosam, quos laudantium ea, eum enim vero magni
              aspernatur. Rerum, possimus.
            </p>
          </div>
        </div>
      </div>
    </section>