<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class="bg-warning-subtle d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- add ms-auto to take all ul in the right side -->
            <li class="nav-item">
              <a class="nav-link home" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('courses')}}">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Login/Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Banner image -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{{url_for('static', filename='images/banner.jpg')}}"
            class="d-block w-100"
            style="height: 50vh; object-fit: cover"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{{url_for('static', filename='images/banner.jpg')}}"
            class="d-block w-100"
            style="height: 50vh; object-fit: cover"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{{url_for('static', filename='images/banner.jpg')}}"
            class="d-block w-100"
            style="height: 50vh; object-fit: cover"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    {% block content %}
    {% endblock %}

    <!-- footer section -->
     <div class="bg-dark"> 
      <footer class="py-3 my-4 text-white"> 
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
          <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link px-2 text-white">Home</a>
          </li> <li class="nav-item"><a href="{{url_for('courses')}}" class="nav-link px-2 text-white">Courses</a></li> 
          <li class="nav-item"><a href="#about" class="nav-link px-2 text-white">About Us</a></li> 
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Contact Us</a></li> 
          
        </ul> <p class="text-center text-white">© 2025 Company, Inc</p> </footer> 
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="/static/JS_files/contact.js"></script>
    <script src="/static/JS_files/login.js"></script>
  </body>
</html>
