<section class="py-5" id="contact">
      <div class="container bg-white bord rounded-3 p-4">
        <h3 class="text-center mb-5">Get in Touch</h3>

        <div class="row mb-4">
          
          <div class="col-6 text-center d-flex flex-column justify-content-end">
          <!-- Embed map -->
          <div class="map">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1845.9301789762465!2d73.36181223873433!3d22.283278944924728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fda2f602c4615%3A0xa475151f361b94d8!2sLimda%2C%20Gujarat%20391760!5e0!3m2!1sen!2sin!4v1770964665653!5m2!1sen!2sin"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
          <div class="about_us_text m-3">
            <p class="text-center">I'd like to hear from you!</p>
            <p class="text-center">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque,
              obcaecati?
            </p>
            <p>✉ pamirghosh1998@gmail.com</p>
            <div class="d-flex justify-content-center gap-3">
              <a href="#" class="text-dark fs-4">
                <i class="bi bi-linkedin"></i>
              </a>

              <a href="#" class="text-dark fs-4">
                <i class="bi bi-instagram"></i>
              </a>

              <a href="#" class="text-dark fs-4">
                <i class="bi bi-facebook"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="col-6">
            <div class="contact-div mt-4">
              <div class="input-group mb-4">
                <span class="input-group-text">First and last name</span>
                <input
                  type="text"
                  aria-label="First name"
                  class="form-control"
                />
                <input
                  type="text"
                  aria-label="Last name"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Message"
                ></textarea>
              </div>
              <div class="contact-btn mb-3">
                <button type="button" class="btn btn-warning px-5">
                  <span class="fst-italic">Send</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>