{% extends "base.html" %}
{% block content %}
    <!-- login section -->
    <section id="login">
      <div class="col-12 col-md-6 container border border-warning m-4 p-5 mx-auto bg-white rounded-2">
        <h3 class="mb-4 text-center">LogIn</h3>
        <form>
          <p class="login-msg"></p>
          <div class="mb-3">
            <input
              type="email"
              class="form-control mail"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter your email"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control pass"
              id="exampleInputPassword1"
              placeholder="Enter your password"
            />
          </div>
          <button type="button" class="btn btn-warning px-5" id="loginbtn">Login</button>
          <div id="passwordHelpBlock" class="form-text">
  New User? <span><a href="{{url_for('register')}}">Sign Up</a></span>.
</div>
        </form>
      </div>
    </section>
    {% include "about.html" %}
    {% include "contact.html" %}
{% endblock %}